<div class="footer">
    <div class="flex">
        <div class="thanks">
            <p>Thank you for visiting</p>
            <p>my little slice of web heaven. </p>
        </div>
        <div class="icons">
            <i class="fab fa-twitter"></i>
            <a href="https://github.com/christarjay?tab=repositories" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/christa-johnson/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
    <hr>
    <div class="copy">
        <p>&copy; Copyright and All that Jazz</p>
    </div>
</div>
