// ------ header ------
.header {
    background: linear-gradient( rgba(128, 116, 116, 0.5) , rgba(128, 116, 116, 0.5)) , url('../images/Background.jpg') no-repeat;
    background-size: cover;
    height: 100%;
}
.social-media {
    margin-top: 8px;
    float: right;
    margin-right: 5%;
}
.fab {
    color: #f1f4e8;
    padding-right: 12.5px;
    font-size: 25px;
}
.name {
    font-family: 'Charmonman' , cursive;
    font-size: 90px;
    margin-bottom: 0;
}
.outline {
    margin-top: 0;
    font-size: 25px;
    text-shadow: 1px 1px #000;
}
nav {
    height: 40px;
    text-align: center;  
}
.nav {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background: none;
    width: 100%;
}
nav a {
    font-size: 30px;
    padding: 8px;
    color: #f1f4e8;
    text-transform: lowercase;
    text-decoration: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(70, 10, 10, 0.75);
    z-index: 2;
}
.links img {
    width: 70px;
    height: 50px;
}
.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}

// ------ navigation ------
.top-nav {
    background: #460a0a;
    height: 40px;
}
.navigation {
    float: left;
    margin-left: 5%;
}

// ------ footer ------
footer {
    background: #460a0a;
    height: 150px;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.thanks {
    text-align: center;
}
.copy {
    text-transform: lowercase;
    text-align: center;
}